body {
  background-color: #1B1437;
  font-family: Barlow, sans-serif;
  color: white; }

.row {
  margin-bottom: 4rem; }

.meeteora_starter {
  padding-bottom: 5rem;
  min-height: 30vh;
  max-height: 80vh;
  overflow: hidden;
  text-align: center;
  background: #1B1437;
  /* Old browsers */
  background: url("../img/meteor-only.png") right -320px bottom;
  background: url("../img/meteor-only.png") right -320px bottom, -moz-linear-gradient(top, #1B1437 0%, #241b4a 100%);
  /* FF3.6-15 */
  background: url("../img/meteor-only.png") right -320px bottom, -webkit-linear-gradient(top, #1B1437 0%, #241b4a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../img/meteor-only.png") right -320px bottom, linear-gradient(to bottom, #1B1437 0%, #241b4a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .meeteora_starter h1 {
    margin-bottom: 0.7em;
    line-height: 1em;
    font-weight: 900;
    text-shadow: 0px 0px 7px #F95DE3; }
  .meeteora_starter .meeteora-lead {
    font-size: 1.8em;
    margin-bottom: 1em;
    line-height: 1.2em; }

p.lead::first-letter {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #F95DE3;
  text-shadow: 0px 0px 7px #40D4CD;
  float: left;
  font-weight: bold;
  line-height: 1rem;
  padding-top: 0.3rem;
  padding-right: 5px;
  padding-left: 0px; }

.meeteora-ul {
  list-style-type: none;
  /*
    li:before {
        position: absolute;

        //background: green;
        content: url("../img/meeteora-bubble.svg") " ";
        transform: translate(-66%, -33%) scale(0.2);


    }*/ }
  .meeteora-ul li {
    line-height: 1.7rem; }

footer {
  padding: 1rem;
  min-height: 10rem;
  text-align: center;
  background: #241b4a;
  /* Old browsers */
  background: url("../img/meteor-only.png") top left;
  background: url("../img/meteor-only.png") top left, -moz-linear-gradient(top, #241b4a 0%, #1B1437 100%);
  /* FF3.6-15 */
  background: url("../img/meteor-only.png") top left, -webkit-linear-gradient(top, #241b4a 0%, #1B1437 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../img/meteor-only.png") top left, linear-gradient(to bottom, #241b4a 0%, #1B1437 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
  background-size: auto 100%;
  background-repeat: no-repeat; }

.meeteora_first_row {
  padding-top: 5rem; }

.meeteora-navbar {
  background: #1B1437; }
  .meeteora-navbar .dropdown-menu {
    background: #1B1437;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1B1437 0%, #241b4a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1B1437 0%, #241b4a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1B1437 0%, #241b4a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
    color: white; }
  .meeteora-navbar .dropdown-item {
    color: white; }
  .meeteora-navbar .dropdown-item:hover {
    background: #1B1437;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1B1437 0%, #241b4a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1B1437 0%, #241b4a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1B1437 0%, #241b4a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); }
  .meeteora-navbar .nav-item .nav-link, .meeteora-navbar .nav-item.active .nav-link, .meeteora-navbar .dropdown-item, .meeteora-navbar .nav-item.dropdown .nav-link {
    color: #F95DE3; }
  .meeteora-navbar .nav-item .nav-link:hover, .meeteora-navbar .dropdown-item:hover {
    color: #40D4CD; }

#meeteora-map-btn {
  color: #F95DE3;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
  border-width: 2px;
  border-color: #F95DE3; }

#brand-img {
  margin-top: -25px;
  width: 150px; }

.about-story-img {
  max-height: 300px;
  max-width: 300px; }

#about-prelude-carousel {
  width: 300px;
  min-width: 300px; }

.faq {
  border: 1px solid white;
  border-radius: 3px;
  margin: 10px;
  color: black; }

/*# sourceMappingURL=web.css.map */
