$COL_MEETEORA_DARK: #1B1437;
$COL_MEETEORA_PINK: #F95DE3;
$COL_MEETEORA_TURQUOISE: #40D4CD;

@mixin gradient($from, $to, $img, $img_pos){
    background: $from; /* Old browsers */
    background: $img $img_pos;
    background: $img $img_pos, -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6-15 */
    background: $img $img_pos, -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10-25,Safari5.1-6 */
    background: $img $img_pos, linear-gradient(to bottom, $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

@mixin gradientsimple($from, $to){
    background: $from; /* Old browsers */

    background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6-15 */
    background:  -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10-25,Safari5.1-6 */
    background:  linear-gradient(to bottom, $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}
