@import "variables";

.meeteora-button {

    border: 2px solid $COL_MEETEORA_PINK;
    background: $COL_MEETEORA_DARK;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


}

.meeteora-button:hover {
    background: $COL_MEETEORA_TURQUOISE;
    border-color: $COL_MEETEORA_TURQUOISE;
    color: $COL_MEETEORA_DARK;
}

.meeteora-button img{
    fill:red;
}
