@import "variables";

body {
    background-color: $COL_MEETEORA_DARK;
    font-family: Barlow, sans-serif;
    color: white;
}

.row {
    margin-bottom: 4rem;
}

.meeteora_starter {
    padding-bottom: 5rem;
    min-height: 30vh;
    max-height: 80vh;
    overflow: hidden;
    text-align: center;


    @include gradient($COL_MEETEORA_DARK, lighten($COL_MEETEORA_DARK, 5%), url("../img/meteor-only.png"),
    right -320px bottom);
    background-size: 100% auto;
    background-repeat: no-repeat;

    h1 {
        margin-bottom: 0.7em;
        line-height: 1em;
        font-weight: 900;
        text-shadow: 0px 0px 7px $COL_MEETEORA_PINK;
    }

    .meeteora-lead {
        font-size: 1.8em;
        margin-bottom: 1em;
        line-height: 1.2em;
    }
}

p.lead::first-letter {
    font-size: 2.5rem;
    font-weight: bolder;
    color: $COL_MEETEORA_PINK;
    text-shadow: 0px 0px 7px $COL_MEETEORA_TURQUOISE;


    float: left;

    font-weight: bold;
    line-height: 1rem;
    padding-top: 0.3rem;
    padding-right: 5px;
    padding-left: 0px;

}

.meeteora-ul {

    list-style-type: none;
    li {
        line-height: 1.7rem;

    }
    /*
    li:before {
        position: absolute;

        //background: green;
        content: url("../img/meeteora-bubble.svg") " ";
        transform: translate(-66%, -33%) scale(0.2);


    }*/
}

footer {
    padding: 1rem;

    min-height: 10rem;
    text-align: center;


    @include gradient(lighten($COL_MEETEORA_DARK, 5%),
    $COL_MEETEORA_DARK,
    url("../img/meteor-only.png"),
    top left);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.meeteora_first_row {
    padding-top: 5rem;
}

.meeteora-navbar {
    //@include gradientsimple($COL_MEETEORA_DARK, lighten($COL_MEETEORA_DARK,5%));
    //box-shadow: 0px 0px 10px white;
    background: $COL_MEETEORA_DARK;

    .dropdown-menu {
        @include gradientsimple($COL_MEETEORA_DARK,
        lighten($COL_MEETEORA_DARK,
        5%));
        color: white; //border: 1px solid white;
    }
    .dropdown-item {
        color: white;
    }
    .dropdown-item:hover {
        @include gradientsimple($COL_MEETEORA_DARK,
        lighten($COL_MEETEORA_DARK,
        5%));
    }
    .nav-item .nav-link, .nav-item.active .nav-link, .dropdown-item, .nav-item.dropdown .nav-link  {
        color: $COL_MEETEORA_PINK;
    }
    .nav-item .nav-link:hover, .dropdown-item:hover {
        color: $COL_MEETEORA_TURQUOISE;
    }
}

#meeteora-map-btn {

    color: $COL_MEETEORA_PINK;
    font-weight: 900;
    padding: 10px 20px 10px 20px;
    border-width: 2px;
    border-color: $COL_MEETEORA_PINK;

}

#brand-img {

    margin-top: -25px;
    width: 150px;
}
